---
import BaseLayout from '@layouts/BaseLayout.astro';
import FormEmbed from '@components/FormEmbed.astro';

const formURL =
	'https://docs.google.com/forms/d/e/1FAIpQLScJqUDW9TRqWmAGmf8PuGnVDV80tJ2zfLTUMlFP89nD5lTAew/viewform?usp=sf_link';

const title = 'Artist Applications',
	description = 'Sign up to be an incredible performer for our inaugural season!';
---

<BaseLayout {title} {description}>
	<section aria-labelledby="#title" class="container my-8 lg:my-16">
		<h1 id="title" class="font-bold font-serif text-5xl text-center">Artist Application</h1>
		<div class="grid md:grid-cols-2 gap-8 pt-20">
			<div class="lg:pr-8">
				<h2 class="text-2xl font-serif font-bold mb-4 md:mb-6 md:text-4xl">Sign-up Information</h2>
				<p>
					We welcome all artists, performers, and musicians who want to be part of Tacoma Porchfest.
					This is a free event and we are all volunteers. However, we encourage performers to set up
					their own tip jar and tip links, sell merchandise, and otherwise promote themselves at
					their assigned porch.
					<br /><br />
					We are actively seeking funding opportunities via grants and business sponsorships and we have
					set up a communal digital tip jar to raise money to help pay for your time and talent. All
					proceeds we raise will be split across performers after the event.
				</p>
			</div>
			<div>
				<FormEmbed href={formURL} title="Porchfest Artist Sign-up Form" />
			</div>
		</div>
	</section>
</BaseLayout>
