---
import '@/styles/tailwind.css';
import '@fontsource/poppins/latin.css';

import SocialLinks from '@/components/SocialLinks.astro';
import { SITE_DETAILS } from '@/config';

const pageTitle = 'Coming Soon';
---
<html lang="en" class="h-full bg-[#F2F7F8]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎸</text></svg>" />
    <title>{`Coming Soon | ${SITE_DETAILS.title}`}</title>
  </head>
  <body class="lg:pt-40 pb-20">
    <div class="text-center space-y-4 mx-auto max-w-sm">
      <img class="mx-auto block mb-20" src="/logo.png" alt="Tacoma Porchfest Logo">
      <div class="px-4 space-y-8">
        <h1 class="text-5xl font-bold">
          Porchfest
        </h1>
        <p class="lg:text-lg">Coming to Tacoma, WA on Saturday, August 6th from 1&ndash;5 pm</p>
        <div class="border-2 border-[#8AA1B1] opacity-40 max-w-[50px] mx-auto"></div>
        <div class="space-y-3">
          <h2 class="text-2xl font-bold">About Tacoma Porchfest</h2>
          <p class="lg:text-lg">
            Porchfest is a walkable music festival held on front porches featuring local artists, connecting neighbors, and building community. It’s a grassroots movement being done all over the country and now coming to central Tacoma!
          </p>
        </div>
        <SocialLinks />
      </div>
    </div>
  </body>
</html>
