---
import BaseLayout from '@layouts/BaseLayout.astro';

const title = 'Free Music Festival in Tacoma, WA';
const description =
	'Tacoma Porchfest is a free, walkable music festival in Central Tacoma. Help us accomplish our inaugural year!';
---

<BaseLayout {title} {description}>
	<section
		class="my-8 lg:my-16 container texture-background bg-primary py-16 md:py-40 lg:py-52 grid place-items-center relative overflow-clip"
		aria-labelledby="#site-hero"
	>
		<h1
			id="site-hero"
			class="bg-primary !leading-snug text-center font-serif font-bold md:p-4 text-3xl md:text-[56px] text-copy"
		>
			Sat, August 6th 2022<br />
			1:00&ndash;5:00 pm
		</h1>
	</section>
	<div class="container">
		<div class="sm:max-w-sm mx-auto">
			<h2 class="text-2xl font-serif font-bold mb-4 md:mb-6 md:text-4xl">What is Porchfest?</h2>
			<p class="md:text-lg">
				Porchfest is a free, walkable music festival where front porches become musical stages for
				one magical afternoon. We are looking for homes to volunteer their porches or front yards <em
					>and</em
				> we are looking for musicians and artists to perform.
			</p>
		</div>
	</div>
</BaseLayout>
