---
import SocialLinks from '@/components/SocialLinks.astro';
---

<div class="text-center py-6 max-w-[1080px] mx-auto px-4">
  <SocialLinks />

  <small class="text-sm inline-block mt-8">
    &copy; 2022 Tacoma Porchfest
  </small>
</div>
