---
import SocialLinks from '@components/SocialLinks.astro';
---

<div class="container flex flex-wrap justify-between items-center gap-8 py-6">
	<small class="text-sm inline-block">
		&copy; 2022 Tacoma Porchfest &middot; <a
			class="text-secondary underline font-medium"
			href="/updates/accessibility-statement">Accessibility Statement</a
		></small
	>
	<SocialLinks />
</div>
