<img
	class="my-6 md:my-12 mx-auto block w-40 h-40 lg:w-44 lg:h-44 rounded-full object-cover"
	src="/logo.png"
	alt="Tacoma Porchfest Logo"
/>

<nav role="list">
	<ul
		class="flex justify-between sm:gap-x-6 sm:justify-center md:gap-x-12 flex-wrap font-medium text-sm lg:text-xl leading-none"
	>
		<li>
			<a
				class="nav-link"
				href="https://docs.google.com/forms/d/e/1FAIpQLScJqUDW9TRqWmAGmf8PuGnVDV80tJ2zfLTUMlFP89nD5lTAew/viewform"
				rel="noopener noreferer nofollow"
			>
				Band Sign-up
			</a>
		</li>
		<li>
			<a
				class="nav-link"
				href="https://docs.google.com/forms/d/e/1FAIpQLSczgkg6v7A_CSeRYz-AqgI-rysBxGL5HWABSKR6Ea_6ENBQ2w/viewform"
				rel="noopener noreferer nofollow"
			>
				Porch Owners
			</a>
		</li>
		<li>
			<a class="nav-link" href="mailto:tacomaporchfest@gmail.com"> Contact </a>
		</li>
	</ul>
</nav>

<style>
	.nav-link {
		@apply hover:bg-sky-200 rounded-xl transition-colors duration-300 ease-in-out px-3 py-2 active:outline-sky-200 focus:bg-sky-200 outline-none focus:outline-sky-200;
	}
</style>
