---
import SiteBanner from '@/components/SiteBanner.astro';

const navLinks = [
	{
		name: 'Artists',
		href: '/artists',
	},
	{
		name: 'Porch Owners',
		href: '/porch-owners',
	},
	{
		name: 'Volunteers',
		href: '/volunteers',
	},
	{
		name: 'Updates',
		href: '/updates'
	},
	{
		name: 'Contact Us',
		href: 'mailto:tacomaporchfest@gmail.com?subject=Hey, Porchfest!',
	},
];
---
<nav class="first:text-center relative container">
	<SiteBanner />
	<ul
		class="flex gap-6 sm:gap-x-6 justify-center md:gap-x-12 flex-wrap font-bold text-base lg:text-2xl leading-none py-3"
		role="list"
	>
		{navLinks.map((navLink) =>
			<li>
				<a 
					class="px-3 py-2 lg:py-[10px] border-b-4 border-transparent hover:border-secondary active:border-secondary focus:border-secondary transition-colors duration-200 ease-in-out" href={navLink.href}
				>
						{navLink.name}
				</a>
			</li>
		)}
	</ul>
</nav>
