---
import SiteBanner from '@/components/SiteBanner.astro';
import { Icon } from 'astro-icon';

const navLinks = [
	{
		name: 'Band Sign-up',
		href: 'https://docs.google.com/forms/d/e/1FAIpQLScJqUDW9TRqWmAGmf8PuGnVDV80tJ2zfLTUMlFP89nD5lTAew/viewform',
		external: true,
	},
	{
		name: 'Porch Sign-up',
		href: 'https://docs.google.com/forms/d/e/1FAIpQLSczgkg6v7A_CSeRYz-AqgI-rysBxGL5HWABSKR6Ea_6ENBQ2w/viewform',
		external: true,
	},
	{
		name: 'Volunteer Sign-up',
		href: 'https://docs.google.com/forms/d/e/1FAIpQLSfc6foZVCYWm3-Z3UQ7hw5v9jmKaEgZ8_XkQLF6tzBWJVO9Vg/viewform',
		external: true,
	},
	{
		name: 'Get in Touch',
		href: 'mailto:tacomaporchfest@gmail.com?subject=Hey, Porchfest!',
		external: false,
	},
];
---
<nav class="first:text-center relative container border-b border-copy border-opacity-10">
	<SiteBanner />
	<ul
		class="flex gap-6 sm:gap-x-6 justify-center md:gap-x-12 flex-wrap font-medium text-sm lg:text-lg leading-none py-3"
		role="list"
	>
		{navLinks.map((navLink) =>
			<li>
				<a 
					class="font-medium px-3 py-2 lg:py-[10px] border-b-4 border-transparent hover:border-secondary active:border-secondary focus:border-secondary transition-colors duration-200 ease-in-out" href={navLink.href}
					target="_blank"
					rel="nofollow noreferer noopener"
				>
						{navLink.name}
						{(navLink.external) && (
							<Icon name="feather:arrow-up-right" class="inline-block h-4 w-4 stroke-4" />
						)}
				</a>
			</li>
		)}
	</ul>
</nav>
