<section
	class="my-8 lg:my-16 container texture-background bg-primary pt-24 pb-16 md:py-40 lg:py-52 grid place-items-center overflow-hidden lg:rounded"
	aria-labelledby="#site-hero"
>
	<h1
		id="site-hero"
		class="bg-primary !leading-snug text-center font-serif font-bold md:p-4 text-3xl md:text-[56px] text-[#e8e0b0] relative"
	>
		Sat, August 6th 2022<br />
		1:00&ndash;5:00 pm
		<span
			class="bg-tertiary text-copy block whitespace-nowrap px-3 py-2 font-serif text-lg sm:text-2xl font-bold absolute -top-16 left-1/2 translate-x-[-50%] rounded-lg -rotate-6"
		>
			Inaugural year!
		</span>
	</h1>
</section>
