<section
	class="my-8 lg:my-16 container texture-background bg-primary py-16 md:py-40 lg:py-52 grid place-items-center relative overflow-clip rounded"
	aria-labelledby="#site-hero"
>
	<h1
		id="site-hero"
		class="bg-primary !leading-snug text-center font-serif font-bold md:p-4 text-3xl md:text-[56px] text-copy"
	>
		Sat, August 6th 2022<br />
		1:00&ndash;5:00 pm
	</h1>
</section>
