<div class="my-10 relative">
	<div id="hero"></div>
	<div class="overflow-hidden h-16 lg:h-36 fill-primary">
		<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
			<path
				d="M-1.12,31.08 C274.26,225.48 331.26,-102.13 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
				style="stroke: none;"
			>
			</path>
		</svg>
	</div>
	<section
		class="bg-primary fill-primary grid place-items-center"
		aria-labelledby="#site-hero"
		id="hero"
	>
		<div class="py-10 lg:py-20 text-center">
			<h1
				id="site-hero"
				class="bg-primary leading-tight font-serif font-bold md:mb-4 text-[40px] sm:text-5xl md:text-[56px] lg:text-8xl text-background"
			>
				Aug 6th <span class="text-secondary">&middot;</span> 1–5 PM<br />
			</h1>
			<span
				class="text-copy sm:text-secondary text-xs sm:text-lg lg:text-[30px] uppercase tracking-wide font-bold"
			>
				Live Music <span class="text-copy">&middot;</span> Block Party <span class="text-copy"
					>&middot;</span
				> Central Tacoma
			</span>
		</div>
	</section>
	<div class="overflow-hidden h-16 lg:h-36 fill-primary">
		<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
			<path
				d="M-16.92,81.40 C156.32,248.18 231.94,-44.90 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
				style="stroke: none;"></path>
		</svg>
	</div>
</div>

<style>
	/* #hero {
		background-image: url('/tacomapf_logo.jpg');
		background-repeat: no-repeat;
		mix-blend-mode: multiply;
		background-position: center;
	} */
</style>
