<p
	class="ribbon my-10 text-center text-white bg-tertiary bg-opacity-90 relative inline-block font-serif font-bold tracking-wide text-xl sm:text-2xl"
>
	Tacoma Porchfest
</p>

<style lang="scss">
	.ribbon,
	.ribbon:before,
	.ribbon:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.ribbon {
		padding: 0.5em 1em;
		&:before,
		&:after {
			background: #6689ff;
			position: absolute;
			top: 0.6em;
			content: '';
			height: 0;
			border: 1.05em solid rgba(0, 0, 0, 0);
			border-left: 0.9em solid #f7f5ed;
		}
		&:before {
			left: -1.85em;
		}
		&:after {
			right: -1.85em;
			transform: rotate(180deg);
		}
	}
</style>
