<a class="my-10 text-center inline-block" href="/">
	<img
		src="/tacomapf_logo.jpg"
		alt="Tacoma Porchfest logo, which features a grinning octopus playing an assortment of musical instruments like drums, a keyboard, maracas, and a guitar. The text on the logo says 8.6.22 Porchfest in bold type."
		class="mix-blend-multiply w-[200px] h-[200px] object-cover aspect-square"
		width="200"
		height="200"
		loading="eager"
	/>
</a>
