<a
	class="ribbon my-10 text-center text-copy bg-tertiary px-3 rounded py-2 bg-opacity-90 relative inline-block font-serif font-bold tracking-wide text-xl sm:text-3xl"
	href="/"
>
	Tacoma Porchfest
</a>
