<a class="my-10 text-center inline-block" href="/">
	<img
		src="/tacomapf_logo.png"
		alt="Tacoma Porchfest logo, which features a grinning octopus playing an assortment of musical instruments like drums, a keyboard, maracas, and a guitar. The text on the logo says 8.6.22 Porchfest in bold type."
		class="w-full h-[120px] md:h-[200px] object-contain"
		loading="eager"
	/>
</a>
