---
import { Icon } from 'astro-icon';
import { SOCIAL_LINKS } from '@/config';
---

<ul class="flex flex-row gap-x-6 justify-center" role="list">
	{Object.keys(SOCIAL_LINKS).map((link) => (
		<li>
			<a class="group duration-50 ease-out hover:-translate-y-1 block transition-transform group p-[5px]" href={SOCIAL_LINKS[link].url} rel="noopener nofollow noreferer">
				<Icon pack="bi" name={SOCIAL_LINKS[link].icon} title={SOCIAL_LINKS[link].name} width="32" class="h-5 w-5 text-copy group-hover:text-opacity-70" />
			</a>
		</li>
	))}
</ul>
