---
import '@fontsource/inter';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';
import '@styles/global.scss';
import '@styles/tailwind.css';

import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

const { title, description } = Astro.props;
---

<html lang="en" class="h-full">
	<head>
		<BaseHead {title} {description} />
	</head>
	<body class="h-full text-copy bg-background bg-opacity-60">
		<header>
			<Header />
		</header>
		<main>
			<slot />
		</main>
		<footer class="sticky top-[100vh] mt-20 border-t-2 border-copy border-opacity-10">
			<Footer />
		</footer>
	</body>
</html>
